/*This file contains all styles related to the header of the site/application.*/

.header {
  background-color: $brand-color;
  margin: 0 calc($lh * -1) $lh;
  padding: $lh $lh 0;

  &__title {
    float: left;
    text-shadow: 1px 1px 1px $dark-brand-color;
  }
  &__heading {
    color: white;
    font-size: calc(1.5 * $lh);
    line-height: 1.333;
    margin: 0 0 $lh;
  }
  &__toolbar {
    text-align: right;
    float: right;
    min-width: calc(10 * $lh);
    margin: 0 0 $lh;
  }
}
