/*This file contains all application-wide CSS variables.*/

/* Base type grid */
$text-font-stack: Avenir Next, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;

$base-font-size: 10px;
$font-size: 2.4rem;
$lh-ratio: 2;
$lh: $(lh-ratio)rem;

/* dimensions */
$button-lh: calc(48 / 18);
$button-height: calc(1rem * $button-lh);

$input-lh: calc(48 / 18);
$input-height: calc(1rem * $button-lh);

/* colours */
$brand-color: #7ab55c;
$dark-brand-color: color($brand-color shade(20));
$light-grey: #f9fafa;
$mid-grey: #a9a9a9;
$dark-grey: #30373b;
$border-color: $mid-grey;

$text-color: $dark-grey;

$placeholder-text: $mid-grey;
$label-text: $mid-grey;

$button-bg: $brand-color;
$button-text: white;
