/*This file contains all application-wide CSS variables.*/

$text-font-stack: Avenir Next, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size: 16px;
$lh-ratio: 1.25;
$lh: $(lh-ratio)rem;

$text-color: #767676;
$brand-color: #7ab55c;
$dark-brand-color: color($brand-color shade(10));
$light-grey: #f9fafa;
$mid-grey: #ced3d3;
$dark-grey: #30373b;
$border-color: #ccc;

$max-width: 968px;
