
.control {
  width: 100%;

  &-group {
    display: flex;
    margin-bottom: $lh;

    &:hover {
      .control-label,  .control {
        border-color: $brand-color;
      }
    }
    &.focused {
      .control-label, .control {
        border-color: $dark-brand-color;
      }
      .control-label {
        font-weight: bold;
      }
    }
  }

  &-label, & {
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
  }

  &-label {
    flex: 1;
    max-width: calc(4 * $lh);
    color: $dark-brand-color;
  }
}

.controls {
  flex: 2;
}

input[type=text], input[type=email], input[type=tel] {
  padding: 0 .4em;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}
